<section data-ng-controller="ArticlesController" data-ng-init="find()">
    <div class="page-header">
        <h2>Agosto</h2>
    </div>
    <div class="container">
        <div class="row">
            <div data-ng-repeat="article in articles" class="col-md-4">
                <div class="panel panel-bibing">
                    <div class="panel-heading">
                        <a class="panel-title panel-title-centered" data-ui-sref="articles.view({articleId: article._id})">
                            <h4 data-ng-bind="article.title"></h4>
                        </a>
                    </div>
                    <div class="panel-body panel-body-image">
                        <a data-ui-sref="articles.view({articleId: article._id})"><img width="100%" src="http://1.bp.blogspot.com/-l1Z6vu1oXDw/TgMHzIISj_I/AAAAAAAAAA8/BORl9eJaVV0/s1600/73683_105405226195292_105362022866279_46652_4843511_n.jpg"></img>
                        </a>
                    </div>
                    <div class="panel-footer">
                        <p class="footer-content">{{article.content | limitTo:130}}{{article.content.length
                            < 130? '': '...'}} <a data-ui-sref="articles.view({articleId: article._id})"> Seguir leyendo</a>
                        </p>
                        <hr class="hr-bibing" />
                        <p>
                            <small>
                             Publicado a las {{article.created | date:"HH:mm:ss 'del' dd-MM-yyyy"}} por {{article.user.displayName}}
                            </small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="alert alert-warning text-center" data-ng-if="articles.$resolved && !articles.length">
        No hay noticias... <a data-ui-sref="articles.create">crear una</a>?
    </div>
</section>
